/* CONTAINER */
/* ------------------------------------- */

#container {
	display: grid;
	grid-template: auto 1fr auto / auto 1fr;
}

/* SIDEBAR */
/* ------------------------------------- */

.sidebar {
	grid-area: 2 / 1 / 3 / 2;
	background-color: var(--sidebar-color);
	padding: 1rem;
	color: var(--white-text-color);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar lh {
	font-size: 3rem;
	font-weight: 700;
}

.sidebar li {
	margin: 1rem 0;
	list-style: 'dot';
}
