/* CONTAINER */
/* ------------------------------------- */

#container {
	display: grid;
	grid-template: auto 1fr auto / auto 1fr;
}

/* MAIN */
/* -------------------------------------  */

main {
	grid-area: 2 / 2 / 3 / 3;
	background-color: var(--main-color);
	padding: 1rem;
	position: relative;
	height: 80.3vh;
}

#tasksTitle {
	font-size: 2rem;
}

#mainTasksLine {
	width: 100%;
	height: 1px;
	background-color: black;
}

/* SIDEBAR */
/* -------------------------------------  */

.sidebar {
	grid-area: 2 / 1 / 3 / 2;
	background-color: var(--sidebar-color);
	padding: 1rem;
	color: var(--white-text-color);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.sidebar-button {
	border: 1px solid white;
	text-align: center;
	border-radius: 3px;
	padding: 1rem 4rem;
	margin: 1rem 0;
	transition: all 0.3s ease-in-out;
}

#sidebarButtonsLine {
	width: 100%;
	height: 1px;
	background-color: var(--white-text-color);
	margin: 1rem 0;
}

.sidebar-button:hover {
	background-color: var(--white-text-color);
	color: var(--sidebar-color);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

/* TASK */
/* -------------------------------------  */

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
	border-radius: 3px;
	border: 1px solid black;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(253, 172, 83, 1) 100%
	);
	transition: all 0.3s ease-in-out;
}



.task > * {
	border: 1px solid black;
	margin: 0 0.5rem;
	padding: 0.5rem;
}

.title {
	flex: 2;
	font-size: 1rem;
}

.title:hover {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.task-buttons {
	width: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* BLUR START */
#blur.active {
	filter: blur(10px);
	pointer-events: none; /* Disable pointer events */
	user-select: none; /* Disable user selection */
}