/* UTILS */
/* ------------------------------------- */
:root {
	--navbar-color: #222831;
	--white-text-color: #eeeeee;
	--sidebar-color: #393e46;
	--main-color: #eeeeee;
	--footer-color: #00adb5;
}

/* FOOTER */
/* ------------------------------------- */

footer {
	grid-area: 3 / 1 / -1 / -1;
	background-color: var(--footer-color);
	padding: 1rem;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a {
	margin: 0 0.5rem;
}
